<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.lzx.lock">

    <!--应用锁需要的权限-->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:name=".LockApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:manageSpaceActivity=".module.splash.SplashActivity"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.splash.SplashActivity"
            android:label=""
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".module.pwd.CreatePwdActivity"
            android:label="创建密码"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.lock.GestureSelfUnlockActivity"
            android:label="解锁"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.lock.GestureUnlockActivity"
            android:excludeFromRecents="true"
            android:label=""
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/unlock_activity_style"/>
        <activity
            android:name=".module.setting.LockSettingActivity"
            android:label="设置"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.lock.GestureCreateActivity"
            android:label="创建图案锁"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.about.AboutMeActivity"
            android:label="关于我"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.main.MainActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".service.LoadAppListService"/>
        <service android:name=".service.LockService"/>

        <receiver android:name=".receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>