<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.lzx.lock">

    <!--应用锁需要的权限-->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>

    <application
        android:name=".LockApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:manageSpaceActivity=".activity.SplashActivity"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label=""
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FirstMainActivity"
            android:label="应用锁"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.CreatePwdActivity"
            android:label="创建密码"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.unlock.GestureSelfUnlockActivity"
            android:label="解锁"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.unlock.GestureUnlockActivity"
            android:excludeFromRecents="true"
            android:label=""
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/unlock_activity_style"/>
        <activity
            android:name=".activity.LockMainActivity"
            android:label="应用锁"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LockSettingActivity"
            android:label="设置"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.unlock.NumberSelfUnlockActivity"
            android:label="解锁"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.unlock.NumberUnlockActivity"
            android:excludeFromRecents="true"
            android:label=""
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/unlock_activity_style"/>
        <activity
            android:name=".activity.lock.GestureCreateActivity"
            android:label="创建图案锁"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.lock.NumberCreateActivity"
            android:label="创建数字"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AboutMeActivity"
            android:label="关于我"
            android:screenOrientation="portrait"/>

        <service android:name=".service.LoadAppListService"/>
        <service android:name=".service.LockService"/>
        <service
            android:name=".service.NotificationService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process=":remote">
             
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
    </application>

</manifest>